@font-face {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/Forum-Regular.ttf);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/Inter-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #0c0c0e;
  padding: 0px 20px 0px 20px;
}

.main-title {
  color: #ffffff;
  font-family: Forum, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  margin-right: auto;
}

.nav-list {
  display: flex;
  list-style: none;
  padding-right: 25px;
}

.nav-link {
  display: block;
  font-family: Inter, serif;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  padding: 10px 15px 10px 15px;
}

.nav-link:hover {
  text-decoration: underline;
}

.profile-icon {
  width: 28px;
  height: 28px;
}

.welcome {
  height: 600px;
  background: url(./img/util/85c1859f825ed82614b2036bc8be037f.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.welcome:before {
  position: absolute;
  content: "";
  height: 300px;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    #0c0c0e 0%,
    #0c0c0e 0.01%,
    rgba(18, 18, 21, 0.1) 100%
  );
}

.welcome-block {
  background-color: #0c0c0e;
  width: 600px;
  height: 220px;
  padding: 35px 40px;
  text-align: center;
  flex-shrink: 0;
  position: absolute;
  top: 220px;
  color: #fff;
  text-align: center;
  font-family: Forum, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.section {
  padding: 20px 20px 40px;
}

.section-about {
  text-align: center;
  background-color: #ffffff;
}

.section-favorites {
  text-align: center;
  background-color: #ffffff;
}

.section-title {
  display: inline-block;
  position: relative;
  color: #0c0c0e;
  font-family: Forum, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.section-title:after {
  content: "";
  width: 50px;
  height: 1px;
  background: black;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0px;
}

.gallery {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0px 40px 0px;
}

.gallery-item {
  width: 450px;
  height: 560px;
}

.gallery-info {
  color: #0c0c0e;
  text-align: center;
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.btn-area {
  width: 68px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.btn {
  position: relative;
  cursor: pointer;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 0px;
  background-color: #0c0c0e;
}

.btn-active {
  background-color: #bb945f;
}

.btn:before {
  position: absolute;
  width: 26px;
  height: 26px;
  top: -5px;
  left: -5px;
  content: "";
}

.favorites-text {
  color: #0c0c0e;
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  margin-bottom: 40px;
}

.seasons-input-area {
  display: flex;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.radio-btn {
  display: none;
}

.radio-label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 37px;
  margin-right: 90px;
}

.radio-label:before {
  content: "";
  background-image: url(./img/util/radio.svg);
  width: 17px;
  height: 17px;
  position: absolute;
  left: 0px;
  top: 4px;
}

.radio-label:after {
  content: "";
  opacity: 20%;
  background-color: yellow;
  width: 114px;
  height: 34px;
  position: absolute;
  left: 0px;
  top: -4px;
}

.radio-label-cheked {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 37px;
}

.radio-label-checked:before {
  content: "";
  background-image: url(./img/util/radio-checked.svg);
  width: 17px;
  height: 17px;
  position: absolute;
  left: 0;
  top: 4px;
}
