@font-face {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/Forum-Regular.ttf);
}

@font-face {
  font-family: "Inter-Bold";
  font-style: normal;
  font-weight: 700;
  src: url(./assets/fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/Inter-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: grey;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  height: 90px;
  background-color: #0c0c0e;
  background-size: 100% 100%;
  padding: 0px 20px 0px 20px;
  position: relative;
}

.main-title {
  color: #ffffff;
  min-width: 294px;
  font-family: Forum, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
  margin-right: auto;
}

.nav-list {
  display: flex;
  list-style: none;
  padding-right: 25px;
}

.nav-link {
  display: block;
  font-family: Inter, serif;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  padding: 10px 15px 10px 15px;
}

.nav-link:hover {
  text-decoration: underline;
}

.profile-btn {
  width: 28px;
  height: 28px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background: transparent;
  color: #bb945f;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.profile-btn.auth {
  background: #fff;
  text-align: center;
  cursor: pointer;
}

.profile-btn span {
  display: none;
}

.profile-btn.auth span {
  display: block;
}

.profile-btn.auth img {
  display: none;
}

.profile-icon:hover {
  cursor: pointer;
}

.welcome {
  height: 600px;
  background: url(./img/util/85c1859f825ed82614b2036bc8be037f.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.welcome:before {
  position: absolute;
  content: "";
  height: 300px;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    #0c0c0e 0%,
    #0c0c0e 0.01%,
    rgba(18, 18, 21, 0.1) 100%
  );
}

.welcome-block {
  background-color: #0c0c0e;
  width: 600px;
  height: 220px;
  padding: 35px 40px;
  flex-shrink: 0;
  position: absolute;
  top: 220px;
  color: #fff;
  text-align: center;
  font-family: Forum, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.section {
  padding: 20px 20px 40px;
  background-color: #ffffff;
}

.section-about {
  text-align: center;
}

.section-favorites {
  text-align: center;
  background-color: #ffffff;
}

.section-title {
  display: inline-block;
  position: relative;
  color: #0c0c0e;
  font-family: Forum, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.section-title:after {
  content: "";
  width: 50px;
  height: 1px;
  background: black;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0px;
}

.gallery {
  display: flex;
  margin: 20px 0px 40px 0px;
}

.gallery-items {
  display: flex;
  width: 100%;
  gap: 25px;
  justify-content: space-between;
  position: relative;
  left: 0px;
  transition: all ease 1s;
}

.gallery-item {
  min-width: 450px;
  height: 560px;
}

.arrow-left {
  display: none;
}

.arrow-right {
  display: none;
}

.gallery-info {
  color: #0c0c0e;
  text-align: center;
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.btn-area {
  display: flex;
  justify-content: space-between;
  width: 68px;
  margin: 0 auto;
}

.btn {
  position: relative;
  cursor: pointer;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 0px;
  background-color: #0c0c0e;
  transition: all 0.5s;
}

.btn:hover {
  background-color: #bb945f;
}

.btn:nth-child(4) {
  display: none;
}

.btn:nth-child(5) {
  display: none;
}

.btn-active {
  background-color: #bb945f;
}

.btn:before {
  position: absolute;
  width: 26px;
  height: 26px;
  top: -5px;
  left: -5px;
  content: "";
}

.section-favorites {
  padding-bottom: 0px;
}

.favorites-text {
  color: #0c0c0e;
  font-family: Inter-Bold, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
  margin-bottom: 35px;
}

.seasons-list {
  display: flex;
  gap: 80px;
  margin-left: -5px;
}

.radio-btn {
  appearance: none;
  position: absolute;
}

.radio-label {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: end;
  line-height: 24px;
  padding: 5px 5px;
  color: #0c0c0e;
  font-family: "Inter", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.radio-label:before {
  content: "";
  border: 2px solid;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  margin-right: 20px;
  margin-bottom: 2px;
  box-sizing: border-box;
}

.radio-btn:checked + .radio-label > .season-name::before {
  content: "";
  background-color: black;
  border-radius: 50%;
  left: 10px;
  top: 15px;
  width: 7px;
  height: 7px;
  position: absolute;
}

.radio-btn:checked + .radio-label {
  font-family: "Inter-Bold", serif;
}

.books-wrapper {
  position: relative;
  margin-top: 37px;
  margin-right: 40px;
}

.books-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  visibility: visible;
  transition: opacity 1s ease-in-out, visibility 1s step-start;
}

.books-section.hidden {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s step-end;
}

.book-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 170px 15px 20px;
  margin-bottom: 40px;
  width: 550px;
  height: 555px;
  border: 1px solid #000;
  position: relative;
}

.article-title {
  color: #000;
  font-family: Forum, serif;
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.article-title:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background: #bb945f;
  left: 0;
  right: 0;
  bottom: 0;
}

.book-title {
  min-width: 460px;
  color: #000;
  font-family: Inter-Bold, serif;
  text-align: left;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.book-author {
  color: #000;
  font-family: Inter-Bold, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: left;
}

.book-description {
  color: #000;
  font-family: Inter, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 266.667% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: left;
  margin-top: 20px;
}

.buy-btn {
  width: 75px;
  height: 30px;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter-Bold, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  position: absolute;
  left: 20px;
  bottom: 15px;
  cursor: pointer;
  transition: background-color 0.6s ease, border-color 0.6s ease;
}

.buy-btn-active {
  color: #bb945f;
  border: 1px solid #bb945f;
  transition: none;
  cursor: inherit;
}

.buy-btn:hover:not(:disabled) {
  background-color: #bb945f;
  border-color: #bb945f;
}

.sign-up-card-section-btn,
.log-in-card-section-btn {
  width: 75px;
  height: 30px;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter-Bold, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  position: absolute;
  left: 20px;
  bottom: 15px;
  cursor: pointer;
  transition: background-color 0.6s ease, border-color 0.6s ease;
}

.sign-up-card-section-btn:hover,
.log-in-card-section-btn:hover {
  background-color: #bb945f;
  border-color: #bb945f;
}

.book {
  width: 200px;
  height: 300px;
  object-fit: cover;
  position: absolute;
  bottom: -1px;
  left: 390px;
}

.section-coffee-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coffee-shop-info {
  color: #000;
  text-align: center;
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  margin: 0px 0px 40px 0px;
}

.menu-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 465px;
}

.menu-title-right {
  text-align: right;
}

.menu-left {
  width: 443px;
}
.menu-right {
  width: 482px;
}

.menu-title {
  color: #bb945f;
  font-family: Forum, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.item-name {
  color: #000;
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
}

.item-name-right {
  margin-left: auto;
}
.item-price {
  position: relative;
  color: #000;
  font-family: Forum-bold, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-left: 220px;
}

.item-price:before {
  position: absolute;
  width: 100px;
  height: 1px;
  background: #bb945f;
  top: 20px;
  right: 85px;
  content: "";
}

.contacts-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 199px;
}

.contacts-column {
  display: flex;
  flex-direction: column;
}

.map-capture {
  background-image: url(./img/util/map.png);
  width: 696px;
  height: 414px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.section-contacts-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-title {
  color: #000;
  font-family: Inter-Bold, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: left;
}

.contacts-text-content {
  color: #000;
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 200% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: left;
  margin: 10px 0px;
}

.contacts-column :first-child {
  margin-bottom: 30px;
}

.contacts-column :nth-child(5) {
  margin-top: 30px;
  margin-bottom: 10px;
}

.phone-number,
.mail-address {
  text-decoration: none;
  color: inherit;
}

.mail-address {
  font-family: Inter-Bold, serif;
}

.phone-number:hover,
.mail-address:hover,
.drop-menu-text:hover {
  cursor: pointer;
  color: #bb945f;
}

.phone-number:visited,
.mail-address:visited {
  color: inherit;
}

.section-library-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cards-colums-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards-columns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0.5s step-start;
}

.cards-columns.hidden {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s step-end;
}

.cards-columns-auth {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, visibility 0.5s step-start;
}

.cards-columns-auth.hidden {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s step-end;
}

.buy-a-card-modal {
  width: 650px;
}

.buy-a-card-modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  height: 60px;
}

.buy-a-card-modal-title {
  color: #fff;
  text-align: center;
  font-family: Forum, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 50% */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  position: relative;
}

.buy-a-card-modal-close-btn {
  position: absolute;
  left: 608px;
}

.buy-a-card-modal-main {
  display: flex;
  height: 480px;
  background-color: #fff;
  padding: 30px 40px 40px 40px;
  gap: 40px;
}

.buy-a-card-modal-textcontent {
  color: #8e8e8e;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 2px;
  position: relative;
}

.btn-price-container {
  display: flex;
  margin-left: 0px;
  margin-right: auto;

  align-items: end;
  gap: 25px;
}

.buy-a-card-modal-btn {
  align-self: start;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  background-color: #fff;
  text-align: center;
  font-family: Inter, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  margin-top: 10px;
}

.buy-a-card-modal-price {
  color: #0c0c0e;
  font-family: Inter-Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.profile-modal {
  display: flex;
  position: relative;
}
.profile-modal-left-side {
  display: flex;
  flex-direction: column;
  width: 170px;
  padding-top: 139px;
  padding-bottom: 139px;
}

.profile-holder-stats {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.profile-holder-stats-text-content {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 0.4px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.profile-holder-stats-ico {
  width: 20px;
  height: 21px;
  margin-bottom: 10px;
}

.profile-modal-right-side {
  width: 430px;
  background-color: #fff;
  padding: 40px 20px 39px 20px;
}

.profile-modal-title {
  color: #000;
  text-align: left;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 50% */
  letter-spacing: 0.8px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.profile-modal-close-btn {
  position: absolute;
  border: none;
  background-color: #fff;
  width: 15px;
  height: 15px;
  left: 558px;
  top: 23px;
  background-image: url("./img/util/close_btn.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rented-books-list-title {
  color: #0c0c0e;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: left;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.rented-books-list {
  margin-bottom: 30px;
}

.rented-book {
  color: #000;
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  padding-bottom: 10px;
  padding-left: 5px;
  margin-left: 27px;
}

.holder-modal-card-number-area {
  display: flex;
  gap: 15px;
}

.card-number-textcontent {
  color: #0c0c0e;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.card-number {
  color: #bb945f;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.profile-modal-ico {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px auto;
}

.profile-modal-username {
  background-color: #fff;
  width: 120px;
  height: 30px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  text-transform: uppercase;
  margin: 0 auto;
}

.profile-modal-left-side {
  width: 170px;
  height: 403px;
  background-color: #000;
}

.card-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #bb945f;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #fff;
  padding: 17px 17px 27px 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 560px;
  height: 272px;
  background: #bb945f;
  padding: 20px 20px 25px 20px;
}

.card-btn {
  position: inherit;
}

.card-title {
  color: #000;
  font-family: Forum, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
}

.holder-info {
  width: 520px;
  height: 66px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  color: #8e8e8e;
  font-family: Forum, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: 0.6px;
  padding-left: 20px;
  border: 0px;
}

.holder-form :first-child {
  margin-bottom: 25px;
}

.find-card-title {
  color: #000;
  font-family: Inter, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;
  margin-bottom: 30px;
}

.check-card-btn-wrapper {
  position: relative;
}

.check-card-btn {
  display: inline-flex;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  padding: 10px 40px;
  color: #0c0c0e;
  text-align: center;
  font-family: Inter-Bold, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  margin-top: 19px;
  margin-right: 6px;
  cursor: pointer;
  opacity: 1;
  transition: background-color 0.6s ease;
}

.check-card-btn.hidden {
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s step-end;
}

.check-card-btn:hover {
  background-color: #bb945f;
  border: 1px solid #bb945f;
}

.get-card-column {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.get-card-title {
  margin-top: 3px;
  color: #000;
  text-align: center;
  font-family: Forum, serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.get-card-text {
  max-width: 456px;
  color: #000;
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /*200% */
  letter-spacing: 0.4px;
  margin: 32px 0 35px 0;
  text-align: right;
}

.card-btn-area :first-child {
  margin-right: 17px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2px;
  background: #0c0c0e;
  padding: 20px 20px 44px 20px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.contacts-left-side {
  display: flex;
  flex-direction: column;
}

.opening-hours-text + .opening-hours-text {
  margin-top: 10px;
}

.social-media-icons {
  display: flex;
  list-style: none;
  padding: 8px 0px 8px 0px;
  gap: 15px;
}

.social-media-icon {
  width: 24px;
  height: 24px;
  margin: auto 0;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-link {
  color: #fff;
  text-align: center;
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  text-decoration: none;
}

.school-link {
  margin-left: 140px;
}

.year-numbers {
  color: #fff;
  text-align: center;
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
}

.address-link {
  color: #fff;
  font-family: Inter, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
  text-decoration: none;
  cursor: pointer;
}
.footer-link:hover,
.adress-link:hover {
  color: #bb945f;
}

.opening-hours-text {
  color: #fff;
  text-align: right;
  font-family: Inter, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}

.social-media-icon a {
  display: flex;
}

.dividing-line {
  border-bottom: 1px solid #fff;
  margin-top: 30px;
  margin-bottom: 44px;
}

.burger-menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 45px;
  min-height: 22px;
  margin-left: 40px;
  cursor: pointer;
  background-color: #0c0c0e;
  border: none;
}

.burger-icon-line {
  width: 45px;
  height: 2px;
  background-color: white;
  transition: transform 0.5s, opacity 0.5s;
}

.burger-menu {
  position: absolute;
  visibility: hidden;
  transform: translateX();
  transition: 0.5s ease-in-out;
  width: 332px;
  height: 480px;
  background-color: #0c0c0e;
  z-index: 3;
  top: 90px;
  right: 0;
  animation: close 0.5s ease-in-out;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  opacity: 1;
}

.backdrop.is-hidden {
  display: none;
  opacity: 0;
  animation: fadeOutModal 0.5s ease-in-out;
}

.backdrop.is-visible > .modal {
  animation: fadeInModal 1s ease-in-out;
  display: flex;
  opacity: 1;
}

.backdrop.is-hidden .modal {
  animation: fadeOutModal 1s ease-in-out;
}

.holder-stats {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  margin-top: 15px;
  margin-bottom: -12px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s step-start;
}

.holder-stats.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease-in-out, visibility 0.1s step-end;
}

.holder-stats-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.holder-stats-text-content {
  text-align: center;
  color: #000;
  text-align: center;
  font-family: Inter, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 200% */
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

.holder-stats-ico {
  width: 20px;
  height: 21px;
}

@keyframes close {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(50px);
  }
}

.burger-menu-open {
  visibility: visible;
  transform: translateX(0);
  transition: 0.5s;
  animation: comein 0.5s ease-in-out;
}

@keyframes comein {
  0% {
    transform: translateX(50px);
  }

  50% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0px);
  }
}

.burger-menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
}

.burger-menu-icon.active .burger-icon-line:first-child {
  transform: translateY(10px) rotate(45deg);
}

.burger-menu-icon.active .burger-icon-line:nth-child(2) {
  opacity: 0;
}
.burger-menu-icon.active .burger-icon-line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.gallery-wrapper {
  width: 1440px;
  height: 560px;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 1437px) {
  .menu-field {
    gap: 50px;
  }

  .menu-right {
    margin-left: auto;
  }
}

@media (max-width: 1400px) {
  .gallery-wrapper {
    width: 450px;
    height: 560px;
    margin: 0 auto;
    overflow: hidden;
  }
  .arrow-left {
    border: none;
    cursor: pointer;
    background: url("./img/util/arrow-left.svg");
    display: flex;
    width: 24px;
    height: 24px;
    padding: 10px;
    margin-left: 57px;
    margin-top: 290px;
    opacity: 0.5;
  }

  .arrow-right {
    border: none;
    background: url("./img/util/arrow-right.svg");
    display: flex;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 10px;
    margin-right: 59px;
    margin-top: 290px;
  }

  .btn-area {
    width: 120px;
  }

  .btn:nth-child(4) {
    display: block;
  }

  .btn:nth-child(5) {
    display: block;
  }
}

@media (max-width: 1245px) {
  .books-section {
    flex-direction: column;
  }
  .book-article {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1024px) {
  .menu-field {
    gap: 10px;
  }
  .nav-list {
    display: none;
  }

  .burger-menu-icon {
    display: flex;
  }

  .drop-menu-not-auth.is-visible {
    display: block;
    opacity: 1;
    animation: fadeInDropMenu 2s ease-in-out;
    right: 104px;
  }
}

@media (max-width: 970px) {
  .gallery {
    margin-bottom: 23px;
  }
  .menu-field {
    gap: 0px;
  }
  .menu-right {
    margin-top: 38px;
  }
}

@media (max-width: 768px) {
  .seasons-list {
    position: sticky;
    border-radius: 10px;
    top: 10px;
    z-index: 3;
    background-color: white;
    border: solid 1px #bb945f;
  }
  .contacts-columns {
    gap: 90px;
  }

  .map-capture {
    margin-left: auto;
    margin-right: auto;
  }

  .cards-columns {
    display: block;
  }

  .footer {
    margin-top: 0px;
  }
  .school-link {
    margin-left: 90px;
  }

  .card-field {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .get-card-column {
    align-items: center;
  }

  .get-card-text {
    text-align: center;
    min-width: 600px;
    margin: 40px 0 40px 0;
  }
}

@media (max-width: 740px) {
  .map-capture {
    zoom: 0.8;
  }
  .seasons-list {
    gap: 40px;
  }
}

/* //dropdown menu login */

.drop-menu-not-auth {
  display: none;
  width: 80px;
  height: 115px;
  background-color: white;
  position: absolute;
  padding-bottom: 20px;
  top: 60px;
  right: 20px;
  z-index: 4;
}

.drop-menu-not-auth.is-visible {
  display: block;
  opacity: 1;
  animation: fadeInDropMenu 0.5s ease-in-out;
}

.drop-menu-not-auth.is-hidden {
  animation: fadeOutDropMenu 0.5s ease-in-out;
}

.drop-menu-title {
  text-align: center;
  font-family: Inter-Bold, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 5px auto;
}

.drop-menu-line {
  width: 40px;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background-color: #bb945f;
}

.drop-menu-items {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.drop-menu-item {
  border: none;
  background: transparent;
  cursor: pointer;
}

.drop-menu-text {
  color: #000;
  font-family: Inter, serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@keyframes fadeInDropMenu {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    top: 0px;
    display: block;
    opacity: 0;
  }
  100% {
    top: 60px;
    display: block;
    opacity: 1;
  }
}

@keyframes fadeOutDropMenu {
  0% {
    display: block;
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

/* //modal window */

.modal-register {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px 25px;
  width: 250px;
  height: 382px;
  background-color: white;
  z-index: 99;
  opacity: 1;
  position: relative;
}

.modal-login {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px 25px;
  width: 250px;
  height: 262px;
  background-color: white;
  z-index: 99;
  opacity: 1;
  position: relative;
}

.modal-title {
  margin-bottom: 20px;
  color: #000;
  text-align: center;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 100% */
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-btn {
  height: 15px;
  width: 15px;
  border: none;
  background-image: url(./img/util/close_btn.svg);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  cursor: pointer;
  left: 220px;
  top: 16px;
}

.modal-text {
  color: #000;
  font-family: Inter, serif;
  align-self: self-start;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
}

.modal-input {
  align-self: center;
  width: 200px;
  height: 20px;
  border: 1px solid #bb945f;
  margin: 10px 0px;
}

.modal-input.invalid {
  border-color: red;
}

.expiration-code-input-area {
  display: flex;
  margin-left: 0px;
  margin-right: auto;
  gap: 10px;
}

.modal-input-mini {
  width: 45px;
  height: 20px;
  border: 1px solid #bb945f;
  margin: 10px 0px;
}

.modal-input-cvc {
  width: 45px;
  height: 20px;
  border: 1px solid #bb945f;
  margin: 10px auto 20px 0;
}

.sign-up-btn {
  align-self: start;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #0c0c0e;
  background-color: #fff;
  text-align: center;
  font-family: Inter, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  margin: 10px 0;
}
.modal-bottom {
  align-self: start;
}

.modal-bottom {
  color: #000;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
  font-family: Inter, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal-link {
  color: #0c0c0e;
  text-align: center;
  font-family: Inter-Bold, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-decoration-line: underline;
  cursor: pointer;
  margin-left: 8px;
}
@keyframes fadeInModal {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

@keyframes fadeOutModal {
  0% {
    display: flex;
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
  }
}
